
body {
    display: flex;
    justify-content: center;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    height: 100%;
    width : 100%;
    margin : 0;
    padding: 0;
    background-color: #000;
}

.game-border{
    margin-top: 0.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 60, 60);
}

.game-window{
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

#canvas { 
    border : 2px solid #999;
    padding: 2px;
    margin-right: 10px;
    background-color: rgb(14, 13, 13);
}

#rightcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#scanvas {
    margin-top: 2px;
    padding: 10px;
    border : 1px solid #999;
    background-color: rgb(14, 13, 13);
}

.panelLabel {
    font-size: 0.9em;
    font-weight: bold;
    color : #DDD;
}

.numberStyle{
    margin-top: 3px;
    padding: 3px;
    border-radius: 3px;
    height: 22px;
    background-color: #EEE;
}

.n0{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
}

.n1{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -16px 0px;
}

.n2{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -32px 0px;
}


.n3{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -48px 0px;
}

.n4{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -64px 0px;
}


.n5{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -80px 0px;
}

.n6{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -96px 0px;
}

.n7{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -112px 0px;
}

.n8{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -128px 0px;
}

.n9{
    float: left;
    width: 15px;
    height: 40px;
    background-image: url(pic/12345.PNG);
    background-repeat: no-repeat;
    background-position: -144px 0px;
}

.ns{
    float : left;
    width : 15px;
    height: 40px;
    background-color: transparent;
}

#control {
    display: flex;
    justify-content: space-between;
}

#reset {
    background-color: pink;
}

#backGroundCover{
    z-index: 5;
    display: none;
    position: absolute;
    background-color: transparent;
}

.t-win{
    z-index: 10;
    position: absolute;
    display: none;
    border-radius: 10px;
    border: 1px solid rgb(80, 80, 80);
    background-color: rgb(60, 60, 60);
    box-shadow: 0 0 5px rgb(26, 26, 26);
}

.t-head{
    margin: 0.3em;
    display: flex;
    justify-content: space-between;
}

.t-title{
    font-weight: bold;
    color : #999;
}

/*  右上角的X  */

.t-closeX{
    color : #999;
    text-align: center;
    border-top-right-radius: 0.7em;
    width : 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    cursor: pointer;
    border : 1px solid #555;
}

.t-closeX:hover{
    border : 1px solid #999;
}

.t-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color : #FFF;
    margin: 0.6em;
    min-height: 10em;
    min-width: 18em;
    border-radius: 5px;
    border : 1px solid #333;
    background-color: #666;
}

.t-okAndNo {
    display: flex;
    justify-content: space-between;
    width : 10em;
}

.t-button{
    display: inline-block;
    font-weight: bold;
    color : #333;
    text-align: center;
    font-size: 0.9em;
    height: 1.6em;
    line-height: 1.6em;
    width : 3em;
    border-radius: 0.8em;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    background-color: #FFF;
}

#cont-table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.6em;
    min-height: 15em;
    min-width: 18em;
    background-color: #666;
    border-radius: 3px;
    color : #FFF;
}

.table-bottom {
    display: table;
    margin: 0.2em;
}

.table-bottom a {
    font-size: 0.8em;
    color: #CCC;
}

table {
    margin: 1em;
}

th {
    color : rgb(148, 198, 226);
}

th, td {
    text-align: center;
    width : 5em;
}

.test01{
    font-size: 0.7em;
    font-weight: bold;
}

.test01 a{
    text-decoration: none;
    color: #EEE;
}

.test01 a:hover{
    color: rgb(235, 193, 78);
}

/*游戏是否重置*/

.cont-rst{
    display: flex;
    height: 5em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cont-about {
    padding: 1em;
    font-size: 0.9em;
    display: flex;
}

.cont-about ul{
    list-style: none;
    margin: 0.5em;
    padding: 0;
}

.cont-about-key {
    text-align: right;
}

.cont-about-value a {
    color : white;
    text-decoration: none;
}

.cont-opt{
    width : 450px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.opt-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
    border-radius: 3px;
    margin: 5px 0;
    padding: 10px;
    background-color: #999;
}

.cont-opt input{
    display: inline-block;
    width : 5.5em;
    text-align: center;
    background-color: #888;
    border : 1px solid #666;
}

.opt-leftbox{
    padding: 5px 0;
    height: 100px;
    width : 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
}

.opt-rightbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
}

.opt-up {
    display: flex;
    flex-direction: column;
}

.opt-other {
    display: flex;
}

.opt-other>div{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.opt-control{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-top10{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.cont-top10-title{
    font-size: 2.2em;
    margin: 0.5em;
    color : gold;
    text-shadow: 0 0 8px goldenrod;
}

.cont-top10-inputname{
    font-size: 0.8em;
    color : #BBB;
}

#u-enterName {
    text-align: center;
    font-size: 1.2em;
    width: 8em;
    margin-top: 0.1em;
    border : 1px solid #555;
    border-radius: 3px;
}

#u-enterTop10info{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 1em;
}

#handlebar{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    border-radius: 3px;
    width : 365px;
    height: 170px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#handlebar .direcBT{
    margin-left: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#handlebar .rotateBT{
    transform: rotate(-12deg);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#handlebar .d-leftright{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#c-up, #c-left, #c-right, #c-down{
    background-color: #e2b34d;
    text-align: center;
    width : 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
}

#r-left, #r-right{
    background-color: #e2b34d;
    text-align: center;
    width : 64px;
    height: 45px;
    line-height: 45px;
}

#r-left{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 3px;
}
#r-right{
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 3px;
}

.game-bt-style{
    color : #333;
    
}

.game-bt-tap-style{
    color : #DDD;
}
